.upper {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 120px;
    font-size: 20px;

    .ico {
        position: relative;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        gap: 50px;
        align-items: center;
    }

    .button_one {
        text-decoration: none;
        color: hsl(0 0% 60%);
        transition: color 0.3s;
    }

    .button_one:hover {
        color: hsl(0 0% 0%);
    }

    .button_two {
        text-decoration: none;
        color: hsl(0 0% 60%);
        transition: color 0.3s;
    }

    .button_two:hover {
        color: hsl(0 0% 0%);
    }

    .button_there {
        text-decoration: none;
        color: hsl(0 0% 60%);
        transition: color 0.3s;
    }

    .button_there:hover {
        color: hsl(0 0% 0%);
    }
}