.upper {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 120px;
    font-size: 20px;

    .ico {
        position: relative;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        gap: 50px;
        align-items: center;
        .ico_text {
            display: flex;
            width: 30px;
            color: black;
        }
    }

    .title {
        list-style-type: none;
        .ico_text {
            display: flex;
            font-size: 30px;
            margin-top: -65px;
            margin-left: 100px;
            padding: 0;
        }
    }

    .button_one {
        text-decoration: none;
        color: hsl(0 0% 60%);
        transition: color 0.3s;
    }

    .button_one:hover {
        color: hsl(0 0% 0%);
    }

    .button_two {
        text-decoration: none;
        color: hsl(0 0% 60%);
        transition: color 0.3s;
    }

    .button_two:hover {
        color: hsl(0 0% 0%);
    }

    .button_there {
        text-decoration: none;
        color: hsl(0 0% 60%);
        transition: color 0.3s;
    }

    .button_there:hover {
        color: hsl(0 0% 0%);
    }
}
.avatar {
    position: relative;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    gap: 50px;
    align-items: center;
    left: 130px;
}
.my_messages {
    position: relative;
    display: flex;
    list-style: none;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;
    top: 50px;
}
